
@import '/src/variables.scss';

form {
    margin: 2rem auto;
    width: 400px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background: get-color($primary-palette, default);
    border-radius: 8px;
}

.mat-flat-button {
    color: get-color($primary-palette, darker);
    width: 90px;
    margin: 0 auto;
}